---
kind: ConfigMap
apiVersion: v1
metadata:
  name: local-rules
  namespace: wazuh
data:
  local_rules.xml: |
    <group name="ids,suricata,">
      <rule id="86601" level="12" overwrite="yes">
          <if_sid>86600</if_sid>
          <field name="event_type">^alert$</field>
          <description>Suricata: Alert - $(alert.signature)</description>
          <options>no_full_log</options>
      </rule>
    </group>
