---
kind: ConfigMap
apiVersion: v1
metadata:
  name: local-internal-options
  namespace: wazuh
data:
  local_internal_options.conf: |
    # local_internal_options.conf
    #
    # This file should be handled with care. It contains
    # run time modifications that can affect the use
    # of OSSEC. Only change it if you know what you
    # are doing. Look first at ossec.conf
    # for most of the things you want to change.
    #
    # This file will not be overwritten during upgrades.
    analysisd.decoder_order_size=1024
    vulnerability-detection.disable_scan_manager=0
